<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzhh.hello.spring.cloud.service.admin.dao.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.tzhh.hello.spring.cloud.service.admin.entity.Dictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="chinese" jdbcType="VARCHAR" property="chinese" />
    <result column="code" jdbcType="INTEGER" property="code" />
  </resultMap>
</mapper>